{% extends "HMS/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3" style="padding: 10px;">
      <div class="vertical-menu">
        <h5>Menu</h5>
        <a href="{% url 'Profile'%}">Profile</a>
        <a href="{% url 'Change_Password'%}">Change Password</a>
        {% if utype == 'patient'%}
          <a href="{% url 'Appointments'%}" class='active'>Appointments</a>
          <a href="{% url 'Prescriptions'%}">Prescriptions</a>
          <a href="{% url 'Lab_Reports'%}">Lab Reports</a>
        {%elif utype == 'surgeon' or utype == 'physician'%}
          <a href="{% url 'Appointments'%}" class="active">Appointments</a>
        {% elif utype == 'laboratory'%}
          <a href="{% url 'LabTests_Lab'%}">Lab Tests</a>
        {% elif utype == 'medicalstore'%}
          <a href="{% url 'Prescriptions'%}">Prescriptions</a>
        {%endif%}
      </div>
    </div>
    <div class="col-sm-12 col-md-9" style="padding: 10px;">
      <div class="container-fluid content-section">
        {% if error != 'None'%}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{error}}
        </div>
        {%endif%}
        <legend class = "border-bottom mb-4">Book Ward for {{patient.user.first_name}} {{patient.user.last_name}}</legend>
        <form method = "POST" action="{% url 'Book_Ward' patientid=patient.patientid%}">
            {%csrf_token%}
            <div class="form-group">
              <label for="gender">Select Gender: </label>
              <br>
              <select class="custom-select mb-3" style="max-width: 250px;" name="gender" onchange="this.form.submit()">
                {% for gender in genders %}
                {% if sgender == gender%}
                  <option selected>{{gender}}</option>
                {%else%}
                  <option>{{gender}}</option>
                {%endif%}
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="type">Select Type: </label>
              <br>
              <select class="custom-select mb-3" style="max-width: 250px;" name="type">
                {% for type in types %}
                {% if stype == type%}
                  <option selected>{{type}}</option>
                {%else%}
                  <option>{{type}}</option>
                {%endif%}
                {% endfor %}
              </select>
            </div>
            <button class="btn btn-primary" style="margin:10px;" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
