{% extends "HMS/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3" style="padding: 10px;">
      <div class="vertical-menu">
        <h5>Menu</h5>
        <a href="{% url 'Profile'%}">Profile</a>
        <a href="{% url 'Change_Password'%}" class="active">Change Password</a>
        {% if utype == 'patient'%}
          <a href="{% url 'Appointments'%}">Appointments</a>
          <a href="{% url 'Prescriptions'%}">Prescriptions</a>
          <a href="{% url 'Lab_Reports'%}" >Lab Reports</a>
        {%elif utype == 'surgeon' or utype == 'physician'%}
          <a href="{% url 'Appointments'%}">Appointments</a>
        {% elif utype == 'laboratory'%}
          <a href="{% url 'Lab_Reports'%}">Lab Tests</a>
        {% elif utype == 'medicalstore'%}
          <a href="{% url 'Prescriptions'%}">Prescriptions</a>
        {%endif%}
      </div>
    </div>
    <div class="col-sm-12 col-md-9" style="padding: 10px;">
      <div class="container-fluid content-section">
        {% if error != 'None'%}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{error}}
        </div>
        {%endif%}
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          </div>
          <div class="col-sm-12 col-md-9 align-self-center">
              <h1>{{ user.first_name }} {{ user.last_name }}</h1>
              <p>{{ user.email }}</p>
              <p>user category: {{ utype }}</p>
          </div>
        </div>
        <form method = "POST" enctype="multipart/form-data">
            {%csrf_token%}
            <legend class = "border-bottom mb-4">Change Password</legend>
            <div class="form-group">
              <label for="oldpassword">Old Password</label>
              <input class="form-control" type="password" name="oldpassword" placeholder="Old Password"/>
            </div>
            <div class="form-group">
              <label for="newpassword">New Password</label>
              <input class="form-control" type="password" name="newpassword" placeholder="New Password"/>
            </div>
            <div class="form-group">
              <label for="cpassword">Confirm Password</label>
              <input class="form-control" type="password" name="cpassword" placeholder="Confirm Password"/>
            </div>
            <button class="btn btn-dark" type="submit">Update Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
